- widget1 = []
- widget1.push({value: '$10,500', title: 'Earnings', info: '20% increase', infoNumber: '+20.3%',  icon1: 'speed-1', icon2: '', bgClass: 'red', textClass: 'text-red', increase: true, progress: 85})
- widget1.push({value: '584', title: 'Readers', info: '3% increase', infoNumber: '+3.3%',  icon1: 'news-1', icon2: '', bgClass: 'blue', textClass: 'text-blue', increase: true, progress: 75})
- widget1.push({value: '876', title: 'Bookmarks', info: '10% increase', infoNumber: '+10.5%',  icon1: 'bookmark-1', icon2: '', bgClass: 'primary', textClass: 'text-primary', increase: true, progress: 67})
- widget1.push({value: '3,500', title: 'Visitors', info: '5% decrease', infoNumber: '-5.8%',  icon1: 'world-map-1', icon2: '', bgClass: 'green', textClass: 'text-green', increase: false, progress: 93})

- widget2 = []
- widget2.push({value: '$19,200', title: 'All Earnings', info: '20% change', icon1: 'pay-1', icon2: '', bgClass: 'bg-primary', textClass: 'text-primary', progress: 78})
- widget2.push({value: '$12,500', title: 'Offers', info: '5% change', icon1: 'label-tag-1', icon2: '', bgClass: 'bg-green', textClass: 'text-green', progress: 83})
- widget2.push({value: '$10,800', title: 'Bestsellers', info: '20% change', icon1: 'star-medal-1', icon2: '', bgClass: 'bg-indigo', textClass: 'text-indigo', progress: 45})

- widget3 = []
- widget3.push({value: '526', title: 'subscribers', info: '20% change', icon1: 'woman-1', icon2: '',  iconClass: 'text-white', bgClass: 'bg-danger-light', textClass: 'text-danger', buttonClass: 'btn-danger', buttonText: 'Manage List'})
- widget3.push({value: '3,258', title: 'readers', info: '35% change', icon1: 'reading-1', icon2: '',  iconClass: 'text-white', bgClass: 'bg-info-light', textClass: 'text-info', buttonClass: 'btn-info', buttonText: 'See details'})
- widget3.push({value: '1,256', title: 'photos', info: '18% change', icon1: 'retro-camera-1', icon2: '', iconClass: 'text-dark',  bgClass: 'bg-primary-light', textClass: 'text-primary', buttonClass: 'btn-primary', buttonText: 'Upload new'})        

- widget4 = []
- widget4.push({value: '$950', planned: '$1253', title: 'Your spendings', info: '20% change', icon1: 'chart-1', icon2: '', bgClass: 'primary', textClass: 'text-primary', progress: 78})
- widget4.push({value: '323',  planned: '356', title: 'Transactions', info: '20% change', icon1: 'food-1', icon2: '', bgClass: 'warning', textClass: 'text-green', progress: 83})
- widget4.push({value: '$158', planned: '$300', title: 'VAT', info: '20% change', icon1: 'quality-1', icon2: '', bgClass: 'danger', textClass: 'text-indigo', progress: 45})

- widget5 = widget1

- projects = []
- projects.push({title: 'Publish New Theme', category: 'Web Design', info: '10 mins ago', avatars: 2, progress: 70, data1: '23', data1Label: 'Updates', data2: '2', data2Label: 'Milestones', bg: 'primary'})
- projects.push({title: 'Internal Linkbuilding', category: 'Marketing', info: '2 hours ago', avatars: 4, progress: 48, data1: '23', data1Label: 'Updates', data2: '2', data2Label: 'Milestones', bg: 'info'})
- projects.push({title: 'New Writer Onboarding', info: '3 days ago', avatars: 3, progress: 96, data1: '23', data1Label: 'Updates', data2: '2', data2Label: 'Milestones', bg: 'info'})
- projects.push({title: 'Blog Post Drafts', info: '5 days ago', avatars: 5, progress: 128, data1: '23', data1Label: 'Updates', data2: '2', data2Label: 'Milestones', bg: 'info'})